{# Макрос поля формы документа/комплекта (T8). #}
{% macro field_input(var, values, field_meta, number_peeks, id_prefix='f') %}
{% set meta = field_meta.get(var, {}) %}
{% set val = values.get(var, '') %}
{% set fid = id_prefix ~ '_' ~ var %}
<div class="field-block" data-field="{{ var }}">
  <label for="{{ fid }}">{{ meta.label or var }}</label>
  {% if meta.hint %}<p class="field-hint muted">{{ meta.hint }}</p>{% endif %}
  {% if meta.multiline %}
  <textarea id="{{ fid }}" name="{{ var }}" rows="3"
            class="form-field"
            data-field="{{ var }}"
            {% if meta.history %}data-history="1"{% endif %}
            {% if meta.dadata %}data-dadata="{{ meta.dadata }}"{% endif %}>{{ val }}</textarea>
  {% else %}
  <input id="{{ fid }}" name="{{ var }}" value="{{ val }}"
         class="form-field"
         data-field="{{ var }}"
         {% if meta.is_date %}placeholder="дд.мм.гггг" autocomplete="off"{% endif %}
         {% if meta.is_number and number_peeks.get(var) %}placeholder="авто: {{ number_peeks[var] }}"{% endif %}
         {% if meta.history %}data-history="1"{% endif %}
         {% if meta.dadata %}data-dadata="{{ meta.dadata }}"{% endif %}
         {% if var in (
           'принято_от', 'фио_субъекта', 'паспорт_субъекта', 'адрес_субъекта',
           'плательщик', 'основание_пко', 'предмет_основание', 'дата_начала',
           'фио_подписанта_кратко', 'должность_подписанта_род', 'дата_акта',
           'приложение_пко'
         ) %}
         data-linked-target="1" data-linked-auto="{% if val %}0{% else %}1{% endif %}"
         {% endif %}
         {% if var in (
           'фио_клиента', 'название_заказчика', 'фио_эксперта',
           'номер_договора', 'дата_договора', 'паспорт_эксперта', 'адрес_эксперта',
           'фио_подписанта', 'должность_подписанта', 'дата_счёта', 'номер_счёта'
         ) %}
         data-linked-src="1"
         {% endif %}
  >
  {% endif %}
  {% if meta.history or meta.dadata %}
  <div class="suggest-box" id="suggest_{{ fid }}" data-suggest-for="{{ var }}"></div>
  {% endif %}
</div>
{% endmacro %}
